<div class="border-l-4 <%= border_color %> <%= bg_color %> p-4 mb-4" data-turbo-temporary>
  <div class="flex">
    <div class="flex-shrink-0">
      <%= helpers.heroicon icon, variant: :mini, options: { class: icon_color } %>
    </div>
    <div class="ml-3">
      <p class="text-sm <%= text_color %>">
        <%= content %>
      </p>
    </div>
  </div>
</div>
