<%= render(Devise::HeaderComponent.new(title: 'Sign in to your account',
                                       link_title: 'Sign up for an account',
                                       link_path: new_registration_path(resource_name))) %>

<%= render(Devise::FrameComponent.new(devise_mapping:, flash:)) do %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="space-y-6">
      <%= f.input :email, required: true, autofocus: true, autocomplete: :email %>
      <%= f.input :password, required: true %>

      <div class="flex items-center justify-between">
        <% if devise_mapping.rememberable? %>
          <%= f.input :remember_me, as: :boolean, wrapper: :checkbox, input_html: { include_hidden: false } %>
        <% end %>

        <%- if devise_mapping.recoverable? %>
          <div class="text-sm">
            <%= link_to 'Forgot your password?', new_password_path(resource_name),
                        class: 'font-medium text-indigo-600 hover:text-indigo-500' %>
          </div>
        <% end %>
      </div>

      <%= f.button :submit, 'Sign in', class: 'flex w-full' %>
    </div>
  <% end %>
<% end %>
