<% content_for :title do %>
  Two Factor Authentication
<% end %>

<%= render(Layout::ContentFrameComponent.new) do %>
  <div class="grid grid-cols-1 sm:grid-cols-2">
    <div class="space-y-4 px-4 py-4 sm:p-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">1. Scan QR Code</h3>
      <p class="my-2 text-sm text-gray-500">
        Please scan the below QR code using an OTP compatible app (such as 1Password or Authy).
      </p>
      <div>
        <%= qr_code_as_svg(current_user.two_factor_qr_code_uri) %>
      </div>
      <p class="my-2 text-sm text-gray-500">
        If you cannot scan, please enter the following code manually: <span class="italic text-orange-700">
          <%= current_user.otp_secret %></span>
      </p>
    </div>

    <%= simple_form_for(:two_fa, url: two_factor_settings_path, method: :post) do |f| %>
      <div class="space-y-4 px-4 py-4 sm:p-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">2. Confirm OTP Code</h3>

        <%= f.input :code, required: true, autofocus: true %>
        <%= f.input :password, hint: 'Enter your current password' %>

        <div class="text-right">
          <%= f.button :submit, 'Confirm and Enable Two Factor' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
